.root{
  width: 100% !important;
  height: 100px !important;
  margin-left: 80px !important;
  margin-right: 80px !important;
}

.country_input{
  width: 120px !important;
  margin-left:auto; 
  margin-right:0;
}

.formcontrol{
  color: inherit;
}
